@model Brightflow_mvc_opdracht.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal"> @* hier zal ik ook een table kunnen gebruiken maar zolang dit nog goed werkt en ik er nu nog geen problemen met performance mee heb laat ik het staan. *@
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt><dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tussenvoegsel)
        </dt><dd>
            @Html.DisplayFor(model => model.Tussenvoegsel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt><dd>
            @Html.DisplayFor(model => model.Achternaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt><dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt><dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt><dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt><dd>
            @Html.DisplayFor(model => model.ProfilePicture)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
